* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0AD2DB;
    background-image: url(stripes_26.png);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-size: 100px;
    color: #F8FC03;
}

h2 {
    font-size: 40px;
    color: white;
    padding: 12px;
}

h3 {
    font-size: 32px;
    color: #00868e;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
}

h4 {
    font-size: 120%;
}

h5 {
    font-size: 120%;
    color: #00b300;
}

p {
    padding-top: 10px;
}

a {
    color: #00868e;
}

.line {
    border: 1px solid white;
    margin: 0px 90px;
}

.button {
    border-radius: 16px;
    color: #1c4245;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    line-height: 150%;
    letter-spacing: 1px;
    background-color: white;
    width: 300px;
}

.flex-container {
    margin: auto;
    min-width: 200px;
    max-width: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-bottom: 5px;
    flex-direction: row-reverse;
}

footer {
    background-color: rgba(255, 255, 255, 0.25);
    margin-top: 60px;
    height: 30px;
}

ion-icon {
    font-size: 16px;
    margin-bottom: -2px;
}

.mail {
    color: #1da1f2;
}

.heart {
    color: #cc0033;
}

.signature {
    font-size: 16px;
    padding: 7px 0 0 0;
    margin: 0;
}