footer {
    background-color: rgba(255, 255, 255, 0.25);
    margin-top: 60px;
    height: 30px;
}

a {
    text-decoration: none;
}

ion-icon {
    font-size: 16px;
    margin-bottom: -2px;
}

.mail {
    color: #1da1f2;
}

.heart {
    color: #cc0033;
}

.signature {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #1c4245;
    font-size: 16px;
    padding: 7px 0 0 0;
    margin: 0;
}