* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0AD2DB;
    background-image: url(stripes_26.png);
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    text-align: center;
    color: #225584;
    font-weight: bold;
}

h1, h2, h3, h4 {
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-size: 56px;
    color: #F8FC03;
    padding-top: 20px;
    padding-bottom: 10px;
}

h2 {
    font-size: 28px;
    color: white;
    padding: 10px;
}

h3 {
    font-size: 28px;
    color: #00868e;
    padding: 10px;
}

h4 {
    font-size: 24px;
    text-align: center;
}

#information {
    margin: auto;
    background-color: white;
    width: 90%;
    min-width: 200px;
    max-width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    alignment: left;
    padding: 20px 30px;
    border-radius: 16px;
    text-align: left;
    line-height: 180%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100px;
}

li {
    alignment: left;
}

a {
    color: #00b300;
}

.small {
    padding-top: 50px;
    font-size: 16px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 30px;    /* Footer height */
}