@media only screen and (max-width: 767px) {
    h1 {
        font-size: 56px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 28px;
    }

    p {
        margin-bottom: 10px;
    }

    .flex-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .three-grades {
        max-width: unset;
    }
}