<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Teacher's Notes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Teacher's notes. Some ideas for elementary ESL lessons.">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
    <link href="{% static 'blog/all_posts.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'blog/queries.css' %}" type="text/css" rel="stylesheet"/>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
</head>

<header>
    <h1>Teacher's Notes</h1>
    <h2>Some ideas for online English lessons</h2>
</header>

<section>
    <a href="{% url 'blog:url_all_grade2' %}"><h3>Grade 2</h3></a>
    <div class="flex-container">
        {% for blogpost in grade2blogposts %}
            <a class="button" href="{% url 'blog:url_one_grade2' blogpost.id %}">
                <h4>{{ blogpost.date|date:'jS F Y' }}</h4>
                <h5>{{ blogpost.title }}</h5>
                <p>{{ blogpost.intro|safe|truncatewords:20 }}</p></a>
        {% endfor %}
    </div>
</section>

<section>
    <a href="{% url 'blog:url_all_grade3' %}"><h3>Grade 3</h3></a>
    <div class="flex-container">
        {% for blogpost in grade3blogposts %}
            <a class="button" href="{% url 'blog:url_one_grade3' blogpost.id %}">
                <h4>{{ blogpost.date|date:'jS F Y' }}</h4>
                <h5>{{ blogpost.title }}</h5>
                <p>{{ blogpost.intro|safe|truncatewords:20 }}</p></a>
        {% endfor %}
    </div>
</section>

<section>
    <a href="{% url 'blog:url_all_grade4' %}"><h3>Grade 4</h3></a>
    <div class="flex-container">
        {% for blogpost in grade4blogposts %}
            <a class="button" href="{% url 'blog:url_one_grade4' blogpost.id %}">
                <h4>{{ blogpost.date|date:'jS F Y' }}</h4>
                <h5>{{ blogpost.title }}</h5>
                <p>{{ blogpost.intro|safe|truncatewords:20 }}</p></a>
        {% endfor %}
    </div>
</section>

<footer>
    <p class="signature">With <a>
        <ion-icon class="heart" name="heart"></ion-icon>
    </a> Kaunas
        <a href="mailto:welcome@listensingtalk.com">
            <ion-icon class="mail" name="mail-outline"></ion-icon>
        </a> 2021
    </p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/respond@0.9.0/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/selectivizr@1.0.3/selectivizr.min.js"></script>
</body>
</html>