<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="{% static 'blog/footer.css' %}" type="text/css" rel="stylesheet"/>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
<footer>
    <p class="signature">With <a>
        <ion-icon class="heart" name="heart"></ion-icon>
    </a> Kaunas
        <a style="text-decoration: none" href="mailto:welcome@listensingtalk.com">
            <ion-icon class="mail" name="mail-outline"></ion-icon>
        </a> 2021
    </p>
</footer>
</body>