<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Teacher's Notes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Teacher's notes. Some ideas for elementary ESL lessons.">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
    <link href="{% static 'blog/one_post.css' %}" type="text/css" rel="stylesheet"/>

</head>
<body>

<h1>{{ blogpost.title }}</h1>
<h2>{{ blogpost.date|date:'jS F Y' }}</h2>
<h3>{{ blogpost.grade }}</h3>

<div>
    <h4>{{ blogpost.intro | safe }}</h4>
    <img src="/{{ blogpost.image }}" alt="{{ blogpost.title }}">
{#    <img src="/media/{{ blogpost.image }}" alt="{{ blogpost.title }}">#}
    <p>{{ blogpost.description | safe }}</p>
    <p class="small">{{ blogpost.credits | safe }}</p>
</div>

{% include 'blog/footer.html' %}

</body>
</html>