<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Grade 2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Some ideas for elementary ESL lessons.">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
    <link href="{% static 'blog/all_posts.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'blog/queries.css' %}" type="text/css" rel="stylesheet"/>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
<header>
    <h1>Teacher's Notes</h1>
    <h2>Grade 4</h2>
</header>
<section>
    <h3></h3>
    <div class="flex-container">
        {% for blogpost in blogposts %}
            <a class="button" href="{% url 'blog:url_one_grade4' blogpost.id %}">
                <h4>{{ blogpost.date|date:'jS F Y' }}</h4>
                <h5>{{ blogpost.title }}</h5>
                <p>{{ blogpost.intro|safe|truncatewords:20 }}</p></a>
        {% endfor %}
    </div>
</section>
</body>
</html>