<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Grade 2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Links and ideas for online ESL lessons">
    <meta property="og:image" content="https://www.englishteachersnotes.com/static/blog/teachersnotes.png">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
    <link href="{% static 'blog/all_posts.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'blog/queries.css' %}" type="text/css" rel="stylesheet"/>
</head>

<body>
<div id="page-container">
    <div id="content-wrap">
        <header>
            <h1>Teacher's Notes</h1>
            <h2>Grade 2</h2>
        </header>
        <section>
            <h3></h3>
            <div class="flex-container">
                {% for blogpost in blogposts %}
                    <a class="button" href="{% url 'blog:url_one_grade2' blogpost.id %}">
                        <h4>{{ blogpost.date|date:'jS F Y' }}</h4>
                        <h5>{{ blogpost.title }}</h5>
                        <p>{{ blogpost.intro|safe|truncatewords:20 }}</p></a>
                {% endfor %}
            </div>
        </section>
    </div>
    {% include 'blog/footer.html' %}
</div>
</body>
</html>